openapi: 3.2.0
info:
  version: 0.1.89
  title: Blockfrost.io ~ API Documentation Cardano » Ledger API
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: https://blockfrost.io
    email: contact@blockfrost.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://blockfrost.io/terms
  description: Blockfrost is an API as a service that allows users to interact with the Cardano blockchain, Midnight blockchain, and parts of their ecosystems.
servers:
- url: https://cardano-mainnet.blockfrost.io/api/v0
  description: Cardano Mainnet network
- url: https://cardano-preprod.blockfrost.io/api/v0
  description: Cardano Preprod network
- url: https://cardano-preview.blockfrost.io/api/v0
  description: Cardano Preview network
- url: https://localhost:3000
  description: local
security:
- project_id: []
tags:
- name: Cardano » Ledger
paths:
  /genesis:
    get:
      tags:
      - Cardano » Ledger
      summary: Blockchain genesis
      description: Return the information about blockchain genesis.
      responses:
        '200':
          description: Return the genesis parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genesis_content'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getGenesis
      x-operation-id-source: derived
components:
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: Backend did not understand your request.
            required:
            - error
            - message
            - status_code
    '418':
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: Requested Banned
              message:
                type: string
                example: IP has been auto-banned for flooding.
            required:
            - error
            - message
            - status_code
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 500
              error:
                type: string
                example: Internal Server Error
              message:
                type: string
                example: An unexpected response was received from the backend.
            required:
            - error
            - message
            - status_code
    '403':
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: Forbidden
              message:
                type: string
                example: Invalid project token.
            required:
            - error
            - message
            - status_code
    '429':
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: Project Over Limit
              message:
                type: string
                example: Usage is over limit.
            required:
            - error
            - message
            - status_code
  schemas:
    genesis_content:
      type: object
      properties:
        active_slots_coefficient:
          type: number
          example: 0.05
          description: The proportion of slots in which blocks should be issued
        update_quorum:
          type: integer
          example: 5
          description: Determines the quorum needed for votes on the protocol parameter updates
        max_lovelace_supply:
          type: string
          example: '45000000000000000'
          description: The total number of lovelace in the system
        network_magic:
          type: integer
          example: 764824073
          description: Network identifier
        epoch_length:
          type: integer
          example: 432000
          description: Number of slots in an epoch
        system_start:
          type: integer
          example: 1506203091
          description: Time of slot 0 in UNIX time
        slots_per_kes_period:
          type: integer
          example: 129600
          description: Number of slots in an KES period
        slot_length:
          type: integer
          example: 1
          description: Duration of one slot in seconds
        max_kes_evolutions:
          type: integer
          example: 62
          description: The maximum number of time a KES key can be evolved before a pool operator must create a new operational certificate
        security_param:
          type: integer
          example: 2160
          description: Security parameter k
      required:
      - active_slots_coefficient
      - update_quorum
      - max_lovelace_supply
      - network_magic
      - epoch_length
      - system_start
      - slots_per_kes_period
      - slot_length
      - max_kes_evolutions
      - security_param
  securitySchemes:
    project_id:
      type: apiKey
      in: header
      name: project_id
      description: 'There are multiple token types available based on network you choose

        when creating a Blockfrost a project, for a list of token types

        see available networks.

        '
