openapi: 3.2.0
info:
  version: 0.1.89
  title: Blockfrost.io ~ API Documentation Cardano » Mempool API
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: https://blockfrost.io
    email: contact@blockfrost.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://blockfrost.io/terms
  description: Blockfrost is an API as a service that allows users to interact with the Cardano blockchain, Midnight blockchain, and parts of their ecosystems.
servers:
- url: https://cardano-mainnet.blockfrost.io/api/v0
  description: Cardano Mainnet network
- url: https://cardano-preprod.blockfrost.io/api/v0
  description: Cardano Preprod network
- url: https://cardano-preview.blockfrost.io/api/v0
  description: Cardano Preview network
- url: https://localhost:3000
  description: local
security:
- project_id: []
tags:
- name: Cardano » Mempool
paths:
  /mempool:
    get:
      tags:
      - Cardano » Mempool
      summary: Mempool
      description: 'Return transactions that are currently stored in Blockfrost mempool,

        waiting to be included in a newly minted block.

        Shows only transactions submitted via Blockfrost.io.


        Hosted Endpoint only available for hosted variant.'
      parameters:
      - in: query
        name: count
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        description: The number of results displayed on one page.
      - in: query
        name: page
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 21474836
          default: 1
        description: The page number for listing the results.
      - in: query
        name: order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: 'Ordered by the time of transaction submission.

          By default, we return oldest first, newest last.

          '
      responses:
        '200':
          description: Return the contents of the mempool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mempool_content'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getMempool
      x-operation-id-source: derived
  /mempool/{hash}:
    get:
      tags:
      - Cardano » Mempool
      summary: Specific transaction in the mempool
      description: 'Return content of the requested transaction.


        Hosted Endpoint only available for hosted variant.'
      parameters:
      - in: path
        name: hash
        required: true
        schema:
          type: string
          format: 64-character case-sensitive hexadecimal string.
        description: Hash of the requested transaction
        example: 6e5f825c42c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b
      responses:
        '200':
          description: Return the contents of the transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mempool_tx_content'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getMempoolByHash
      x-operation-id-source: derived
  /mempool/addresses/{address}:
    get:
      tags:
      - Cardano » Mempool
      summary: Mempool by address
      description: 'List of mempool transactions where at least one of the transaction inputs or outputs belongs to the address.

        Shows only transactions submitted via Blockfrost.io.


        Hosted Endpoint only available for hosted variant.'
      parameters:
      - in: path
        name: address
        required: true
        schema:
          type: string
          format: 64-character case-sensitive hexadecimal string.
        description: Bech32 address.
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
      - in: query
        name: count
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        description: The number of results displayed on one page.
      - in: query
        name: page
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 21474836
          default: 1
        description: The page number for listing the results.
      - in: query
        name: order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: 'Ordered by the time of transaction submission.

          By default, we return oldest first, newest last.

          '
      responses:
        '200':
          description: Return the contents of the mempool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mempool_addresses_content'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getMempoolAddressesByAddress
      x-operation-id-source: derived
components:
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: Backend did not understand your request.
            required:
            - error
            - message
            - status_code
    '418':
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: Requested Banned
              message:
                type: string
                example: IP has been auto-banned for flooding.
            required:
            - error
            - message
            - status_code
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 500
              error:
                type: string
                example: Internal Server Error
              message:
                type: string
                example: An unexpected response was received from the backend.
            required:
            - error
            - message
            - status_code
    '403':
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: Forbidden
              message:
                type: string
                example: Invalid project token.
            required:
            - error
            - message
            - status_code
    '404':
      description: Component not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 404
              error:
                type: string
                example: Not Found
              message:
                type: string
                example: The requested component has not been found.
            required:
            - error
            - message
            - status_code
    '429':
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: Project Over Limit
              message:
                type: string
                example: Usage is over limit.
            required:
            - error
            - message
            - status_code
  schemas:
    mempool_tx_content:
      type: object
      properties:
        tx:
          type: object
          properties:
            hash:
              type: string
              example: 1e043f100dce12d107f679685acd2fc0610e10f72a92d412794c9773d11d8477
              description: Transaction hash
            output_amount:
              type: array
              items:
                type: object
                description: The sum of all the UTXO per asset
                properties:
                  unit:
                    type: string
                    format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                    description: The unit of the value
                  quantity:
                    type: string
                    description: The quantity of the unit
                required:
                - unit
                - quantity
              example:
              - unit: lovelace
                quantity: '42000000'
              - unit: b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e
                quantity: '12'
            fees:
              type: string
              example: '182485'
              description: Fees of the transaction in Lovelaces
            deposit:
              type: string
              example: '0'
              description: Deposit within the transaction in Lovelaces
            size:
              type: integer
              example: 433
              description: Size of the transaction in Bytes
            invalid_before:
              type:
              - string
              - 'null'
              example: null
              description: Left (included) endpoint of the timelock validity intervals
            invalid_hereafter:
              type:
              - string
              - 'null'
              example: '13885913'
              description: Right (excluded) endpoint of the timelock validity intervals
            utxo_count:
              type: integer
              example: 4
              description: Count of UTXOs within the transaction
            withdrawal_count:
              type: integer
              example: 0
              description: Count of the withdrawals within the transaction
            mir_cert_count:
              type: integer
              example: 0
              description: Count of the MIR certificates within the transaction
            delegation_count:
              type: integer
              example: 0
              description: Count of the delegations within the transaction
            stake_cert_count:
              type: integer
              example: 0
              description: Count of the stake keys (de)registration within the transaction
            pool_update_count:
              type: integer
              example: 0
              description: Count of the stake pool registration and update certificates within the transaction
            pool_retire_count:
              type: integer
              example: 0
              description: Count of the stake pool retirement certificates within the transaction
            asset_mint_or_burn_count:
              type: integer
              example: 0
              description: Count of asset mints and burns within the transaction
            redeemer_count:
              type: integer
              example: 0
              description: Count of redeemers within the transaction
            valid_contract:
              type: boolean
              example: true
              description: True if contract script passed validation
          required:
          - hash
          - output_amount
          - fees
          - deposit
          - size
          - invalid_before
          - invalid_hereafter
          - utxo_count
          - withdrawal_count
          - mir_cert_count
          - delegation_count
          - stake_cert_count
          - pool_update_count
          - pool_retire_count
          - asset_mint_or_burn_count
          - redeemer_count
          - valid_contract
        inputs:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                example: addr1q9ld26v2lv8wvrxxmvg90pn8n8n5k6tdst06q2s856rwmvnueldzuuqmnsye359fqrk8hwvenjnqultn7djtrlft7jnq7dy7wv
                description: Input address
              tx_hash:
                type: string
                example: 1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0
                description: Hash of the UTXO transaction
              output_index:
                type: integer
                example: 0
                description: UTXO index in the transaction
              collateral:
                type: boolean
                example: false
                description: Whether the input is a collateral consumed on script validation failure
              reference:
                type: boolean
                example: false
                description: Whether the input is a reference transaction input
            required:
            - tx_hash
            - output_index
            - collateral
        outputs:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                example: addr1q9ld26v2lv8wvrxxmvg90pn8n8n5k6tdst06q2s856rwmvnueldzuuqmnsye359fqrk8hwvenjnqultn7djtrlft7jnq7dy7wv
                description: Output address
              amount:
                type: array
                items:
                  type: object
                  description: The sum of all the UTXO per asset
                  properties:
                    unit:
                      type: string
                      format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                      description: The unit of the value
                    quantity:
                      type: string
                      description: The quantity of the unit
                  required:
                  - unit
                  - quantity
                example:
                - unit: lovelace
                  quantity: '42000000'
                - unit: b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e
                  quantity: '12'
              output_index:
                type: integer
                example: 0
                description: UTXO index in the transaction
              data_hash:
                type:
                - string
                - 'null'
                description: The hash of the transaction output datum
                example: 9e478573ab81ea7a8e31891ce0648b81229f408d596a3483e6f4f9b92d3cf710
              inline_datum:
                type:
                - string
                - 'null'
                description: CBOR encoded inline datum
                example: 19a6aa
              collateral:
                type: boolean
                example: false
                description: Whether the output is a collateral output
              reference_script_hash:
                type:
                - string
                - 'null'
                description: The hash of the reference script of the output
                example: 13a3efd825703a352a8f71f4e2758d08c28c564e8dfcce9f77776ad1
            required:
            - address
            - amount
            - output_index
            - data_hash
            - inline_datum
            - collateral
            - reference_script_hash
        redeemers:
          type: array
          items:
            type: object
            properties:
              tx_index:
                type: integer
                example: 0
                description: Index of the redeemer within the transaction
              purpose:
                type: string
                enum:
                - spend
                - mint
                - cert
                - reward
                example: spend
                description: Validation purpose
              unit_mem:
                type: string
                example: '1700'
                description: The budget in Memory to run a script
              unit_steps:
                type: string
                example: '476468'
                description: The budget in CPU steps to run a script
            required:
            - tx_index
            - purpose
            - unit_mem
            - unit_steps
      required:
      - tx
      - inputs
      - outputs
    mempool_addresses_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction
        required:
        - tx_hash
      example:
      - tx_hash: 1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0
    mempool_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction
        required:
        - tx_hash
      example:
      - tx_hash: 1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0
  securitySchemes:
    project_id:
      type: apiKey
      in: header
      name: project_id
      description: 'There are multiple token types available based on network you choose

        when creating a Blockfrost a project, for a list of token types

        see available networks.

        '
