openapi: 3.2.0
info:
  version: 0.1.89
  title: Blockfrost.io ~ API Documentation Cardano » Network API
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: https://blockfrost.io
    email: contact@blockfrost.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://blockfrost.io/terms
  description: Blockfrost is an API as a service that allows users to interact with the Cardano blockchain, Midnight blockchain, and parts of their ecosystems.
servers:
- url: https://cardano-mainnet.blockfrost.io/api/v0
  description: Cardano Mainnet network
- url: https://cardano-preprod.blockfrost.io/api/v0
  description: Cardano Preprod network
- url: https://cardano-preview.blockfrost.io/api/v0
  description: Cardano Preview network
- url: https://localhost:3000
  description: local
security:
- project_id: []
tags:
- name: Cardano » Network
paths:
  /network:
    get:
      tags:
      - Cardano » Network
      summary: Network information
      description: Return detailed network information.
      responses:
        '200':
          description: Return detailed network information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getNetwork
      x-operation-id-source: derived
  /network/eras:
    get:
      tags:
      - Cardano » Network
      summary: Query summary of blockchain eras
      description: 'Returns start and end of each era along with

        parameters that can vary between hard forks.'
      responses:
        '200':
          description: Returns era summaries content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network-eras'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '425':
          $ref: '#/components/responses/425'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getNetworkEras
      x-operation-id-source: derived
components:
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: Backend did not understand your request.
            required:
            - error
            - message
            - status_code
    '418':
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: Requested Banned
              message:
                type: string
                example: IP has been auto-banned for flooding.
            required:
            - error
            - message
            - status_code
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 500
              error:
                type: string
                example: Internal Server Error
              message:
                type: string
                example: An unexpected response was received from the backend.
            required:
            - error
            - message
            - status_code
    '403':
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: Forbidden
              message:
                type: string
                example: Invalid project token.
            required:
            - error
            - message
            - status_code
    '404':
      description: Component not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 404
              error:
                type: string
                example: Not Found
              message:
                type: string
                example: The requested component has not been found.
            required:
            - error
            - message
            - status_code
    '429':
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: Project Over Limit
              message:
                type: string
                example: Usage is over limit.
            required:
            - error
            - message
            - status_code
    '425':
      description: Mempool is already full, not accepting new txs straight away
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 425
              error:
                type: string
                example: Mempool Full
              message:
                type: string
                example: Mempool is full, please try resubmitting again later.
            required:
            - error
            - message
            - status_code
  schemas:
    network-eras:
      type: array
      items:
        type: object
        properties:
          start:
            type: object
            description: 'Start of the blockchain era,

              relative to the start of the network

              '
            properties:
              time:
                type: integer
                description: Time in seconds relative to the start time of the network
              slot:
                type: integer
                description: Absolute slot number
              epoch:
                type: integer
                description: Epoch number
            required:
            - time
            - slot
            - epoch
          end:
            type: object
            description: 'End of the blockchain era,

              relative to the start of the network

              '
            properties:
              time:
                type: integer
                description: Time in seconds relative to the start time of the network
              slot:
                type: integer
                description: Absolute slot number
              epoch:
                type: integer
                description: Epoch number
            required:
            - time
            - slot
            - epoch
          parameters:
            type: object
            description: Era parameters
            properties:
              epoch_length:
                type: integer
                description: Epoch length in number of slots
              slot_length:
                type: integer
                description: Slot length in seconds
              safe_zone:
                type: integer
                description: Zone in which it is guaranteed that no hard fork can take place
            required:
            - epoch_length
            - slot_length
            - safe_zone
        required:
        - start
        - end
        - parameters
      example:
      - start:
          time: 0
          slot: 0
          epoch: 0
        end:
          time: 89856000
          slot: 4492800
          epoch: 208
        parameters:
          epoch_length: 21600
          slot_length: 20
          safe_zone: 4320
      - start:
          time: 89856000
          slot: 4492800
          epoch: 208
        end:
          time: 101952000
          slot: 16588800
          epoch: 236
        parameters:
          epoch_length: 432000
          slot_length: 1
          safe_zone: 129600
    network:
      type: object
      properties:
        supply:
          type: object
          properties:
            max:
              type: string
              description: Maximum supply in Lovelaces
              example: '45000000000000000'
            total:
              type: string
              description: Current total (max supply - reserves) supply in Lovelaces
              example: '32890715183299160'
            circulating:
              type: string
              description: Current circulating (UTXOs + withdrawables) supply in Lovelaces
              example: '32412601976210393'
            locked:
              type: string
              description: Current supply locked by scripts in Lovelaces
              example: '125006953355'
            treasury:
              type: string
              description: Current supply locked in treasury
              example: '98635632000000'
            reserves:
              type: string
              description: Current supply locked in reserves
              example: '46635632000000'
          required:
          - max
          - total
          - circulating
          - locked
          - treasury
          - reserves
        stake:
          type: object
          properties:
            live:
              type: string
              example: '23204950463991654'
              description: Current live stake in Lovelaces
            active:
              type: string
              description: Current active stake in Lovelaces
              example: '22210233523456321'
          required:
          - live
          - active
      required:
      - supply
      - stake
  securitySchemes:
    project_id:
      type: apiKey
      in: header
      name: project_id
      description: 'There are multiple token types available based on network you choose

        when creating a Blockfrost a project, for a list of token types

        see available networks.

        '
