openapi: 3.2.0
info:
  version: 0.1.89
  title: Blockfrost.io ~ API Documentation Metrics API
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: https://blockfrost.io
    email: contact@blockfrost.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://blockfrost.io/terms
  description: Blockfrost is an API as a service that allows users to interact with the Cardano blockchain, Midnight blockchain, and parts of their ecosystems.
servers:
- url: https://cardano-mainnet.blockfrost.io/api/v0
  description: Cardano Mainnet network
- url: https://cardano-preprod.blockfrost.io/api/v0
  description: Cardano Preprod network
- url: https://cardano-preview.blockfrost.io/api/v0
  description: Cardano Preview network
- url: https://localhost:3000
  description: local
security:
- project_id: []
tags:
- name: Metrics
paths:
  /metrics:
    get:
      tags:
      - Metrics
      summary: Blockfrost usage metrics
      description: History of your Blockfrost usage metrics in the past 30 days.
      responses:
        '200':
          description: Return the last 30 days of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metrics'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getMetrics
      x-operation-id-source: derived
  /metrics/endpoints:
    get:
      tags:
      - Metrics
      summary: Blockfrost endpoint usage metrics
      description: History of your Blockfrost usage metrics per endpoint in the past 30 days.
      responses:
        '200':
          description: Return the last 30 days of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metrics_endpoints'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '418':
          $ref: '#/components/responses/418'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: getMetricsEndpoints
      x-operation-id-source: derived
components:
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: Bad Request
              message:
                type: string
                example: Backend did not understand your request.
            required:
            - error
            - message
            - status_code
    '418':
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: Requested Banned
              message:
                type: string
                example: IP has been auto-banned for flooding.
            required:
            - error
            - message
            - status_code
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 500
              error:
                type: string
                example: Internal Server Error
              message:
                type: string
                example: An unexpected response was received from the backend.
            required:
            - error
            - message
            - status_code
    '429':
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: Project Over Limit
              message:
                type: string
                example: Usage is over limit.
            required:
            - error
            - message
            - status_code
    '403':
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: Forbidden
              message:
                type: string
                example: Invalid project token.
            required:
            - error
            - message
            - status_code
    '404':
      description: Component not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 404
              error:
                type: string
                example: Not Found
              message:
                type: string
                example: The requested component has not been found.
            required:
            - error
            - message
            - status_code
  schemas:
    metrics_endpoints:
      type: array
      items:
        type: object
        properties:
          time:
            type: integer
            description: Starting time of the call count interval (ends midnight UTC) in UNIX time
          calls:
            type: integer
            description: Sum of all calls for a particular day and endpoint
          endpoint:
            type: string
            description: Endpoint parent name
        required:
        - time
        - calls
        - endpoint
      example:
      - time: 1612543814
        calls: 182
        endpoint: block
      - time: 1612543814
        calls: 42
        endpoint: epoch
      - time: 1612543812
        calls: 775
        endpoint: block
      - time: 1612523884
        calls: 4
        endpoint: epoch
      - time: 1612553884
        calls: 89794
        endpoint: block
    metrics:
      type: array
      items:
        type: object
        properties:
          time:
            type: integer
            description: Starting time of the call count interval (ends midnight UTC) in UNIX time
          calls:
            type: integer
            description: Sum of all calls for a particular day
        required:
        - time
        - calls
      example:
      - time: 1612543884
        calls: 42
      - time: 1614523884
        calls: 6942
  securitySchemes:
    project_id:
      type: apiKey
      in: header
      name: project_id
      description: 'There are multiple token types available based on network you choose

        when creating a Blockfrost a project, for a list of token types

        see available networks.

        '
